<div class="container-xxl">
            <div class="row">
                <div class="col-3 mt-5 nav-lateral">
                    <ul class="list-group ">
                        <li class="active" aria-current="true"><i class="bi bi-calendar-check"></i> Today</li>
                        <li class=""> <i class="bi bi-calendar-week"></i> Schedule</li>
                        <li class=""> <i class="bi bi-list-check"></i> My Lists </li>
                    </ul>
                </div>


                <div class="col">
                    <div class="container mt-5">
                        <div class="container-xl container-white my-2 px-5 py-5">
                            <div class="row">
                                <div class="col-9 ">
                                    <h2 class="text-font text-wlc">{{gretting}}</h2>
                                    <p class="ms-5 fs-4">Here your tasks for today</p>
                                </div>
                                <div class="col-3 ">
                                    <div class="container-list text-center py-2 center">
                                        <p class="fs-2">List</p>
                                        <p class="fs-1 fw-bold pb-5">{{countTask}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    
                                </div>
                                <div class="my-4 col-2">
                                    <a class="btn-add me-5 btn-list" type="button"><i class="bi bi-plus "></i></a>
                                </div>
                            </div>
                
                {% comment %} aqui van las tasks {% endcomment %}
                            <div class="container">
                                {% for task in task_today %}
                                <div class="card mb-5 py-4 px-4 cart-ntg" id="1">
                                    <div class="row">
                                            <div class="col">
                                                <div class="card-body cart-done">
                                                    <h2 class="card-title text-wlc"><i class="bi bi-circle bi-check2-circle fs-2 me-3" ></i> {{task.title}} </h2>
                                                    <p class="card-text fs-3">{{ task.listAdd}}</p>
                                                    <p class="card-text fs-4">{{ task.date }}</p>
                                                </div>
                                            </div>
                                        <div class="col-2">
                                            <div class="row edit-dlt">
                                                <div class="col ">
                                                    <i class="bi bi-pencil-square "></i>
                                                </div>
                                                <div class="col ">
                                                    <i class="bi bi-x-square "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <h2 class="text-font text-wlc">Tomorrow</h2>
                                {% for task in all_task %}
                                <div class="card mb-5 py-4 px-4 cart-ntg" id="1">
                                    <div class="row">
                                            <div class="col">
                                                <div class="card-body cart-done">
                                                    <h2 class="card-title text-wlc"><i class="bi bi-circle bi-check2-circle fs-2 me-3" ></i> {{task.title}} </h2>
                                                    <p class="card-text fs-3">{{ task.listAdd}}</p>
                                                    <p class="card-text fs-4">{{ task.date }}</p>
                                                </div>
                                            </div>
                                        <div class="col-2">
                                            <div class="row edit-dlt">
                                                <div class="col ">
                                                    <i class="bi bi-pencil-square "></i>
                                                </div>
                                                <div class="col ">
                                                    <i class="bi bi-x-square "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>