{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Pompiere&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>

    <div class="position-relative  overlay">
        <!-- aqui va el nav bar de esta que debe ir importado pero sera pa mas al rato jajaj  -->
        <nav class="navbar navbar-expand-lg navbar-light nav-toDo ">
            <div class="container-fluid nav-list mx-5">
                    <a class="navbar-brand nav-toDo" href="/">
                        <img src="{%static 'img/icono.png'%}" width="200" height="100" alt=""/>
                    </a>
                    <button class="navbar-toggler to-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse to-tasks-list " id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item  me-5">
                                <a class="nav-link active" aria-current="page" href="#">Today</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Comming...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">My Lists</a>
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex actions ">
                        <a class="btn-add me-5 " type="submit"><i class="bi bi-plus "></i></a>
                        <a href="#" class="me-5"><i class="bi bi-brightness-high-fill"></i></a>
                        <div class="row">
                            <div class="me-5">
                                <img src="{%static 'img/1.png'%}" width="67" height="60" alt=""/>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                    </div>
            </div>
        </nav>  
        

        <!-- aqui va va el container para las tasks -->
        <div class="container-xxl">
            <div class="row">
                <div class="col-3 mt-5 nav-lateral">
                    <ul class="list-group ">
                        <li class="active" aria-current="true"><i class="bi bi-calendar-check"></i> Today</li>
                        <li class=""> <i class="bi bi-calendar-week"></i> Schedule</li>
                        <li class=""> <i class="bi bi-list-check"></i> My Lists </li>
                    </ul>
                </div>


                <div class="col">
                    <div class="container mt-5">
                        <div class="container-xl container-white my-2 px-5 py-5">
                            <div class="row">
                                <div class="col-9 ">
                                    <h2 class="text-font text-wlc">{{gretting}}</h2>
                                    <p class="ms-5 fs-4">Here your tasks for today</p>
                                </div>
                                <div class="col-3 ">
                                    <div class="container-list text-center py-2 center">
                                        <p class="fs-2">List</p>
                                        <p class="fs-1 fw-bold">2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    
                                </div>
                                <div class="my-4 col-2">
                                    <a class="btn-add me-5 btn-list" type="button"><i class="bi bi-plus "></i></a>
                                </div>
                            </div>
                
                
                            <div class="container">
                                <div class="card mb-5 py-4 px-4 cart-ntg" id="1">
                                    <div class="row">
                                        <div class="col ">
                                            <div class="card-body cart-done">
                                                <h2 class="card-title text-wlc"><i class="bi bi-circle bi-check2-circle fs-2 me-3" ></i> Learning Django</h2>
                                                <p class="card-text fs-3">Web</p>
                                                <p class="card-text fs-4">Today at 09:00</p>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row edit-dlt">
                                                <div class="col ">
                                                    <i class="bi bi-pencil-square "></i>
                                                </div>
                                                <div class="col ">
                                                    <i class="bi bi-x-square "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-5 py-4 px-4 cart-ntg" id="2">
                                    <div class="row">
                                        <div class="col ">
                                            <div class="card-body cart-done">
                                                <h2 class="card-title text-wlc"><i class="bi bi-circle bi-check2-circle fs-2 me-3 " ></i> Learning Django</h2>
                                                <p class="card-text fs-3">Web</p>
                                                <p class="card-text fs-4">Today at 09:00</p>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row edit-dlt">
                                                <div class="col ">
                                                    <i class="bi bi-pencil-square "></i>
                                                </div>
                                                <div class="col ">
                                                    <i class="bi bi-x-square "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>

        <!-- aqui va el formulario para task -->

        <div class="form-hide form-show">
            <div class="container my-5 form-card position-absolute top-50 start-50 translate-middle ">
                <form method="POST">
            
                    
                    {% csrf_token %}
                    
                    <h2 class="text-wlc ms-3">New Task</h2>
                    <div class="container task-form">
                    
                        <div class="form-floating mb-3">
                            {{form_task.title}}
                            <label for="floatingInput">e.g. Learning python</label>
                        </div>

                        <div class="row ">
                            <div class="col-5">
                                {{form_task.date}}
                                {{form_task.listAdd}}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-login mt-3 form-btn">Add Task</button>
                </form> 
            </div> 
        </div>


        <div class="form-hide form-show-list">
            <div class="container my-5 form-card position-absolute top-50 start-50 translate-middle ">
                <form method="POST" >                   
                    {% csrf_token %}
                    <h2 class="text-wlc ms-3">New Task</h2>
                    <div class="container task-form">
                        <div class="form-floating mb-3">
                            {{form_list.title}}
                            <label for="floatingInput">e.g. Learning python</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-login mt-3 form-btn">Add Task</button>
                </form> 
            </div> 
        </div>
        
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{%static 'js/bundle.min.js'%}"></script>
</html>