{% load static %}

<div class="container-sm mt-5 ">

    <h1 class="mt-5 text-capitalize display-2 txt-index">How to get started?</h1>

    <div class="row justify-content-md-center">
        <div class="col text-center">
            <div class="row text-center">
                <img src="{% static 'img/get-1.png' %}" alt="">
                <h2 class="text-center txt-get">
                    Create a account
                </h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quod excepturi
                  </p>
            </div>
        </div>
        <div class="col text-center">
            <div class="row text-center">
                <img src="{% static 'img/get-2.png' %}" alt="">
                <h2 class="text-center txt-get">
                    Create Tasks or List
                </h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quod excepturi
                  </p>
            </div>
        </div>
        <div class="col text-center">
            <div class="row text-center">
                <img src="{% static 'img/get-3.png' %}" alt="">
                <h2 class="text-center txt-get">
                    Save them
                </h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quod excepturi
                  </p>
            </div>
        </div>
        
    </div>
</div>