{% load static %}

<nav class="navbar navbar-expand-lg navbar-light ml-3 navbar-purple">
  <div class="container-fluid">
    <a class="nav-link active" href="/"
      ><img src="{%static 'img/icono.png'%}" width="200" height="100" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item  me-5">
          <a class="nav-link active "  href="/"><i class="bi bi-house-door-fill me-2"></i>Home</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" href="#"><i class="bi bi-heart-fill me-2"></i>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-star-fill me-2"></i>Start</a>
        </li>
      </ul>
      <div class="d-flex">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
            <li class="nav-item me-5">
              <a class="nav-link "  href="{% url 'to-do-app:ToDoList' %}"> <i class="bi bi-menu-up"></i> List-List</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link "  href="{% url 'user:logout_view' %}"> <i class="bi bi-box-arrow-in-right me-2"></i> Logout</a>
            </li>
        {% else %}

            <li class="nav-item me-5">
              <a class="nav-link "  href="{% url 'user:register' %}"><i class="bi bi-box-arrow-in-right me-2"></i>Register</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="{% url 'user:login_view' %}"><i class="bi bi-person-check me-2"></i>Login</a>
            </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
